.container-block {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(77, 104, 163, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color:rgb(202, 202, 202);
    font-size: 20px;
    max-height: 30px;
  }

.icon{
    padding: 0;
}

.url-container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-top: 5px;
}

.link-container svg {
    fill: #fff;
    transition: fill 0.1s;
}

a{
    color: rgb(202, 202, 202);
    text-decoration: none;
    transition: color 0.1s;
}

.url{
    display: inline;
    margin-left: -30px;
}

.url-container a:hover svg{
    fill:#ff0e0e;
}

.url-container a:hover{
    color: #ff0e0e;
}

.copy-button{
    background-color: rgba(1, 0, 37, 0.11);
  color: #77a7ffb4;
  border: 1px solid rgba(101, 206, 255, 0.295);
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
  height: 100%;
  z-index:1;
  margin-top: -10px;
}

.ctrl{
    color: #77a7ff8c;
    letter-spacing: 1px;
}

.copy-button:active{
    transform: scale(95%);
}

.copy-button:hover{
    border: 1px solid rgba(101, 206, 255, 0.568);
}

.copied-message{
    position: absolute;
    top: -45px;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(1, 0, 37, 0.747);
    transition: opacity 0.3s;
}